.all {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    color: white;
    background-color: black;
}
.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2vh;
}
