.nav {
    width: 100vw;
    height: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid green;
    border-radius: 10px;
    background-color: black;
    font-size: 1.2vw;
}
.nav_logo {
    width: 15vw;
    height: 15vw;
    display: flex;
    background-image: url(assets/logo.png);
    background-repeat: no-repeat;
    background-size: 15vw 15vw;
}
.nav_menu {
    width: 50vw;
    height: 5vw;
}
.nav_menu_ctr {
    width: 35vw;
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.nav_link {
    color: white;
    text-decoration: none;
}
.nav_menu_item {
    height: 2vw;
    width: 7vw;
    display: flex;
    border: 1px solid green;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.nav_info {
    width: 22vw;
    height: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.nav_info_ctr {
    width: 17vw;
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.nav_info_item {
    height: 2vw;
    width: 7vw;
    display: flex;
    border: 1px solid green;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.nav_hover:hover {
    color: rgb(80, 77, 77);
}
.nav_active {
    color: green;
}
.nav_loggedin {
    width: 25vw;
    height: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nav_profilepic {
    width: 2vw;
    height: 4vw;
    display: flex;
    background-image: url(../assets/logo.png);
    background-size: 2vw 4vw;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid green;
}
.nav_reloadaccountbal {
    height: 1.5vw;
    width: 3vw;
    font-size: 0.9vw;
    display: flex;
    border: 1px solid green;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.nav_reloadaccountbal:hover {
    color: rgb(80, 77, 77);
    cursor: pointer;
}
.logout {
    height: 1.5vw;
    width: 3vw;
    font-size: 0.9vw;
    display: flex;
    border: 1px solid green;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.logout:hover {
    color: rgb(80, 77, 77);
    cursor: pointer;
}
