.side_bar {
    width: 30vw;
    height: 90vh;
    background-color: black;
    display: flex;
    border: 1px solid green;
    border-radius: 5px;
    justify-content: center;
    font-size: 1.2vw;
}
.sb_container {
    width: 30vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sb_head {
    width: 30vw;
    height: 7vw;
    display: flex;
    border-bottom: 1px solid green;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
.sb_list_item {
    width: 27vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.sb_li_choice {
    width: 13vw;
    display: flex;
    flex-direction: column;
}
.sb_li_odd {
    width: 5vw;
    display: flex;
    justify-content: end;

}
.sidebar_remove {
    color: red;
    cursor: pointer;
    width: 3vw;
    height: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    border-radius: 5px;
}
.sb_stake {
    width: 30vw;
    height: 9vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}
.sb_stake_sub {
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.sb_stake_ent {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.sb_stake_input {
    width: 12vw;
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
}
.sb_stake_odd {
    width: 12vw;
    display: flex;
    justify-content: end;
}
.sb_submit {
    width: 30vw;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid green;
}
.sb_bet_button {
    height: 2vw;
    width: 7vw;
    cursor: pointer;
    display: flex;
    border: 1px solid green;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 1.2vw;
}
.sb_bet_button:hover {
    background-color: rgb(80, 77, 77);
}
.sidebar_remove:hover {
    color: white;
    border: 1px solid red;
}
.input_bet_amt {
    width: 7vw;
    background-color: rgb(46, 41, 41);
    color: white;
    border: 1px solid green;
    border-radius: 5px;
}
.input_bet_amt[type=number]::-webkit-inner-spin-button,
.input_bet_amt[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input_bet_amt[type=number] {
    -moz-appearance: textfield;
}
.input_bet_amt:focus {
    outline: none;
    border: 1px solid rgb(80, 77, 77);
    border-radius: 5px;
    box-shadow: 0 0 5px green;
}
.sb_removeallwanringparent {
    width: 30vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sb_removeallwarning {
    width: 18vw;
    height: 4vw;
    display: flex;
    border: 1px solid red;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.sb_removechoice {
    width: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.sb_choiceclick {
    cursor: pointer;
    display: flex;
    width: 3vw;
    border: 1px solid rgb(18, 19, 18);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.sb_removeallbutton:hover {
    cursor: pointer;
    border: 1px solid red;
    border-radius: 5px;
    padding: 2px;
}
.betplaced {
    width: 22vw;
    display: flex;
    height: 4vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 24, 24);
    border: 1px solid black;
    border-radius: 5px;
    color: green;
}
.betplaced1 {
    width: 28vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}
.betnotplaced {
    width: 22vw;
    display: flex;
    height: 4vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 24, 24);
    border: 1px solid black;
    border-radius: 5px;
    color: red;
}
.betnotplaced1 {
    width: 28vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}