.fpwd_comp {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    color: white;
}
.fpwd_container {
    width: 20rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.fpwd_form_item {
    width: 17rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fpwd_form_item input {
    width: 15rem;
    height: 1.5rem;
    border-radius: 5px;
}
.fpwd_form_item input:focus {
    outline: none;
    border: 1px solid green;
    border-radius: 5px;
    box-shadow: 0 0 5px green;
}
.fpwd_form_item h3 {
    width: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fpwd_form_item button {
    width: 15rem;
    height: 2rem;
    display: flex;
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
    align-items: center;
    justify-content: center;
}
.fpwd_form_item button:hover {
    background-color: lightgreen;
    color: black;
}
.fpwdbtn {
    cursor: pointer;
    display: flex;
    width: 19vw;
    height: 2rem;
    background-color: green;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}
.fpwdbtn:hover {
    background-color: lightgreen;
    display: flex;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
.errorshade {
    border: 2px solid red;
    border-radius: 5px;
}
.fpwderror1 {
    width: 16vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}
.fpwderror {
    width: 19vw;
    display: flex;
    font-size: x-small;
    height: 4vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    color: red;
}
.fpwdsuccess1 {
    width: 16vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}
.fpwdsuccess {
    width: 19vw;
    display: flex;
    font-size: x-small;
    height: 4vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    color: green;
}
.resendtok {
    color: blue;
    width: 10vw;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.resendtok:hover {
    cursor: pointer;
    background-color: rgb(36, 33, 33);
}