.login_comp {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    color: white;
}
.login_container {
    width: 20rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.login_form_item {
    width: 17rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.login_form_item input {
    width: 17rem;
    height: 1.5rem;
    border-radius: 5px;
}
.login_form_item input:focus {
    outline: none;
    border: 1px solid green;
    border-radius: 5px;
    box-shadow: 0 0 5px green;
}
.login_form_item h3 {
    width: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_form_item button {
    width: 15rem;
    height: 2rem;
    display: flex;
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
    align-items: center;
    justify-content: center;
}
.login_form_item button:hover {
    background-color: lightgreen;
    color: black;
}
.errorshade {
    border: 2px solid red;
    border-radius: 5px;
}
.logininvalid {
    color: red;
    font-size: small;
}
.loginposterror {
    color: red;
    font-size: small;
}
.loginbtn {
    cursor: pointer;
    display: flex;
    width: 22vw;
    height: 2rem;
    background-color: green;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}
.loginbtn:hover {
    background-color: lightgreen;
    display: flex;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}