.profile_comp {
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2vh;
}
.p_pic_display {
    width: 60vw;
    height: 24vh;
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    border-bottom: none;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;
}
.p_user {
    width: 60vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
    border-radius: 5px;
    border-top: none;
}
.profile_pic {
    width: 8vw;
    height: 15vh;
    display: flex;
    background-image: url(../assets/logo.png);
    background-size: 8vw 15vh;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid green;
}
.p_user_info {
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    justify-content: space-evenly;
}
.user_ {
    width: 30vw;
    height: 3vh;
    display: flex;
    background-color: green;
    border-radius: 5px;
    align-items: center;
    padding-left: 1vh ;
}
.p_user_update {
    width: 50vw;
}
.p_user_update button {
    height: 1.5rem;
    width: 7vw;
    display: flex;
    border: 1px solid green;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 2vh;
}
.p_user_update button:hover {
    background-color: rgb(80, 77, 77);
}