.register_comp {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    color: white;
}
.reg_container {
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;
}
.reg_form_item {
    width: 40vh;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.reg_form_item input {
    width: 40vh;
    height: 3.5vh;
    border-radius: 5px;
}
.reg_form_item input:focus {
    outline: none;
    border: 1px solid green;
    border-radius: 5px;
    box-shadow: 0 0 5px green;
}
.reg_form_item h3 {
    width: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg_form_item button {
    width: 12vh;
    height: 3.5vh;
    display: flex;
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
    align-items: center;
    justify-content: center;
}
.reg_form_item button:hover {
    background-color: lightgreen;
    color: black;
}
.errorshade {
    border: 2px solid red;
    border-radius: 5px;
}
.reginvalid {
    color: red;
    font-size: small;
    width: 38vh;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.regvalid {
    color: green;
    width: 38vh;
    display: flex;
    flex-direction: column;
    font-size: small;
    background-color: lightgreen;
    border-radius: 5px;
}
.regposterror {
    color: red;
    width: 38vh;
    display: flex;
    flex-direction: column;
    font-size: small;
    border-radius: 5px;
}
.signupbtn {
    cursor: pointer;
    display: flex;
    width: 40vh;
    height: 5vh;
    background-color: green;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}
.signupbtn:hover {
    background-color: lightgreen;
    display: flex;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}